<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]--><head>
<title>Blank Page</title>
<style>
body {
}
</style>
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body id="{{ page.slug }}">
<div class="content">
<!-- Start Custom Code ********************************************************* -->
<!-- Start Custom Code ********************************************************* -->
<!-- Start Custom Code ********************************************************* -->
<!-- Start Custom Code ********************************************************* -->
<!-- Start Custom Code ********************************************************* -->

{{ content }}

<!-- End Custom Code ********************************************************* -->
<!-- End Custom Code ********************************************************* -->
<!-- End Custom Code ********************************************************* -->
<!-- End Custom Code ********************************************************* -->
<!-- End Custom Code ********************************************************* -->
</div>
</body>
</html>